{% extends 'base.html' %}
{% load static %}
{% block title %}
   Seu carrinho de compras
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Remover</th>
                <th>Preço Unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrinho %}
                {% with produto=item.produto %}
                    <tr>
                        <td>
                            <a href="{{produto.get_absolute_url}}"></a>
                                <img src="
                                    {% if produto.imagem %}
                                        {{ produto.imagem.url }}
                                    {% else %}
                                        {% static 'img/default.jpg' %}
                                    {% endif %}
                                    " alt="{{ produto.nome }}" width="50px" height="50" />
                            </a>
                        </td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>
                            <a href="{% url 'carrinho:remover_do_carrinho' produto.id %}">Remover</a>   
                        </td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>R$ {{ item.total_preco }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>Total Geral:</td>
                <td colspan="4"></td>
                <td>R$ {{ carrinho.get_total_preco }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'main:listar_produtos' %}" class="btn btn-primary button-light">
            Continuar Comprando
        </a>
        <a href="{% url 'pedidos:criar_pedido' %}" 
              class="btn btn-secondary button">
                Finalizar Pedido
        </a>
    </p>
{% endblock %}